.cross-minus-table {
    flex-grow: 1;
    margin-left: 4px;
}

.cross-minus-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px;
}

.cross-minus-copy {
    height: 24px;
    width: 24px;
    margin-right: 4px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cross-minus-copy:active,
.cross-minus-copy:focus {
    background-color: #84c0ea;
}

.cross-minus-key {
    color: #333;
    width: 80px;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 4px;
    font-size: 14px;
}

.cross-minus-input {
    flex-grow: 1;
    border: 1px solid #aaa;
    border-radius: 2px;
    height: 24px;
}
